@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-y: scroll;
    background: hsla(263, 35%, 79%, 1);
    background: radial-gradient(
        circle,
        hsla(263, 35%, 79%, 1) 0%,
        hsla(0, 0%, 84%, 1) 100%
    );

    background: -moz-radial-gradient(
        circle,
        hsla(263, 35%, 79%, 1) 0%,
        hsla(0, 0%, 84%, 1) 100%
    );

    background: -webkit-radial-gradient(
        circle,
        hsla(263, 35%, 79%, 1) 0%,
        hsla(0, 0%, 84%, 1) 100%
    );

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C6B8DD", endColorstr="#D6D6D6", GradientType=1 );
}
